@charset "UTF-8";

@import  "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_normalize.scss";
@import  "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables.scss";
@import  "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins.scss";

$font-family-base: 'Roboto', sans-serif;
$link-color: #85b22b;
$link-hover-color: $link-color;
@import  "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding.scss";
@import  "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid.scss";

// Helpers
@import "helpers/_text-align";

// Custom modules
@import "modules/_background";
@import "modules/_button";
@import "modules/_hero-image";
@import "modules/_icons";
@import "modules/_login-form";
@import "modules/_logo";
@import "modules/_navigation";
@import "modules/_pagination";
@import "modules/_user-picture";
@import "modules/_well";
@import "modules/_issue-list-picture";

// Spacing
.mb-60 {
  margin-bottom: 60px;
}
